<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Luxtavern</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/guest-dashboard">Guest Dashboard</a>
        </li>
        
        
      </ul>
      <ul class="navbar-nav ml-auto" style="margin-left: auto;">
        <li class="nav-item">
          <button 
            class="btn btn-logout" 
            (click)="logout()" 
            style="
              background-color: transparent; 
              border: 2px solid red; 
              color: red; 
              padding: 8px 16px; 
              border-radius: 4px; 
              cursor: pointer; 
              font-size: 16px; 
              font-weight: bold; 
              transition: background-color 0.3s, color 0.3s;">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
