<app-navbar></app-navbar>
<div class="container mt-4">
  <h1>Hotel Chains</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Headquarters</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chain of hotelChains">
        <td>{{ chain.id }}</td>
        <td>{{ chain.name }}</td>
        <td>{{ chain.headquarters }}</td>
        <td>
          <a class="btn btn-info btn-sm" [routerLink]="['/hotel-chain-edit', chain.id]">Edit</a>
          <button class="btn btn-danger btn-sm" (click)="deleteChain(chain.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
