<!-- home.component.html -->

<div class="container mt-4">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Jumbotron -->
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Luxtavern</h1>
    <p class="lead">Your one-stop solution for user management.</p>
    <!-- Registration Button -->
    <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  </div>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p class="mb-0">&copy; <span id="year"></span> Ravikiran Masule. All rights reserved.</p>
    </div>
  </footer>
</div>
